.dot{
  width: 100px;
  height: 100px;
  margin-top: 15%;
  border-radius: 50%;
  background-color: aqua;
}
.outer{
  max-width: 400px;
  height: 200px;
  background-color: gray;
  justify-content: center;
}
.card {
  max-width: 100%;
  width: 400px;
  height: 400px;
}
